<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Password Manager{% endblock %}</title>
    </head>
    <body>

        {% block errors %}
            {% if errors %}
                <span><strong>{{errors}}</strong></span>
            {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}

    </body>
</html>
