{% if f.errors %}
    Errors: <br>
    <ul>
        {% for field, error in f.errors.items() %}
           <li>
               <strong style="color:tomato">
                   Field: {{field}} - {{', '.join(error)}}
                </strong>
            </li>
        {% endfor %}
    </ul>
{% endif %}
<br>
{% for field in f %}
    {% if field != f.csrf_token or None %}
        {{field.label}} {{field}} <br>
    {% else %}
        {{field}}
    {% endif %}
{% endfor %}
