{% extends "base.html" %}

{% block title %}
    Login
{% endblock  %}

{% block content %}

    <div class="login-form">
        <form method="POST" action="{{ url_for('login') }}" name="form">
            {% with f=form %}
                {% include "form_renderer.html"  %}
            {% endwith %} 
            <input type="submit" value="Login">
        </form>
        <i>Not registered? <a href="{{url_for('register')}}">Register</a></i>
    </div>

{% endblock  %}
