{% extends "base.html" %}

{% block title %}
    Registration
{% endblock  %}

{% block content %}

    <div class="Register-form">
        <form method="POST" action="{{ url_for('register') }}" name="form">

            {% with f=form %}
                {% include "form_renderer.html"  %}
            {% endwith %} 

            <input type="submit" value="Register">

        </form>

        <a href="{{url_for('login')}}">Login</a>

    </div>

{% endblock  %}
