{% extends "base.html" %}

{% block title %}
    Credential
{% endblock  %}

{% block content %}
    <h4>Access Credential: </h4>

    <label for="name">Site Name: </label>
    <i id="name">{{credential.site_name}}</i>
    <br>

    <label for="url">Site url: </label>
    <a id="url" href="{{credential.site_url}}" target="_blank">
        {{credential.site_url}}
    </a>
    <br>

    <label for="login">Account name: </label>
    <i id="login">{{credential.account_name}}</i>
    <br>

    <label for="pass">Account password: </label>
    <i id="pass">{{credential.get_account_password}}</i>
    <br>
    <a href="{{url_for('credential_list')}}">Back</a>
    <a href="{{url_for('credential_edit', ac_id=credential.id)}}">Edit</a> <br>
    <a href="{{url_for('credential_remove', ac_id=credential.id)}}">Remove</a> <br>

<script>
    function checkUrlAvailability()
    {
        let link = document.querySelector('#url');
        let mark = document.createElement('span');
        link.parentNode.insertBefore(mark, link.nextSibling);
        fetch(link.href, {method: "HEAD", mode: "no-cors"}).then(() => {
            mark.style.color = 'green';
            mark.innerHTML = '&check;';
        }).catch(() => {
            mark.style.color = 'red';
            mark.innerHTML = '&cross;';
        });
    }
    checkUrlAvailability();
</script>
{% endblock  %}
