<ul>
    {% for ac in credentials_list %}
        <li>
            <span>
                Site name: {{ac.site_name}}, account: {{ac.account_name}}
                <a href="{{url_for('credential_view', ac_id=ac.id)}}">View</a>
            </span>
        </li>
    {% endfor %}
</ul>
