{% extends "base.html" %}

{% block title %}
    Credential
{% endblock  %}

{% block content %}
<h3>{{name}}</h3>
    <div class="credential-form">
        <form method="POST" action="{{url_destination}}" name="form">

            {% with f=form %}
                {% include "form_renderer.html" %}
            {% endwith %} 

            <input type="submit" value="{{submit_value}}">

        </form>

        <a href="{{url_for('credential_list')}}">All credentials</a>

    </div>

{% endblock  %}

