{% extends "base.html" %}

{% block title %}
Access Credentials
{% endblock  %}

{% block content %}
<a href="{{url_for('logout')}}">LOG OUT</a>
<a href="{{url_for('credential_add')}}">Add Credential</a>
<h4>Your access credentials: </h4> <br>
{% include "credentials/credential_list_renderer.html" %}
{% endblock  %}
